
api-server/.env
api-server/node_modules/

deploy-server/node_modules/
deploy-server/.env

reverse-proxy/node_modules/
deploy-server/.env
deploy-server/dist/

aws-terraform/.terraform
aws-terraform/terraform.tfstate
aws-terraform/terraform.tfstate.backup
aws-terraform/terraform.tfvars
aws-terraform/terraform.tfvars.example
aws-terraform/variable.tf
aws-terraform/.terraform.lock.hcl
